.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cocktails-card a {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}


.container {
  margin-top: 30px;
}

.cards h2{
  padding: 10px;
  height: 250px;
}
